<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bulwark Jiu Jitsu</title>
</head>
<body>
    {% extends 'bjj_logs/base.html' %}


    {% block page_header %}
        <h3>{{ topic }}</h3>
    {% endblock page_header %}

    {% block content %}
        <p>
            <a href="{% url 'bjj_logs:new_entry' topic.id %}">Add new entry</a>
        </p>

        {% for entry in entries %}
            <div class="card mb-3">
                <h4 class="card-header">
                    {{entry.date_added|date:'M d, Y H:i' }}
                    <small><a href="{% url 'bjj_logs:edit_entry' entry.id %}">edit entry</a> </small>
                </h4>
                <div class="card-body">
                    {{ entry.text|linebreaks }}
                </div>
            </div>
        {% empty %}
            <p>There are no entries for this skill yet</p>
        {% endfor %}



        <a class="btn btn-danger" href="{% url 'bjj_logs:delete_topic' topic.id %}" role="button">Delete Topic</a>

    {% endblock content %}

</body>
</html>