<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bulwark Jiu Jitsu</title>
</head>
<body>
    {% extends 'bjj_logs/base.html' %}

    {% block page_header %}
        <h1>Skills</h1>
    {% endblock page_header %}

    {% block content %}

        <ul>
            {% for topic in topics %}
                <li><h3>
                    <a href="{% url 'bjj_logs:topic' topic.id %}">{{ topic }}</a>
                </h3></li>
            {% empty %}
                <li><h3>No skills have been added yet.</h3></li>
            {% endfor %}
        </ul>

    <h3><a href="{%url 'bjj_logs:new_topic' %}">Add a new skill</a></h3>


    {% endblock content %}

</body>
</html>